.Navbar-Container {
  display: flex;
  border: 1px solid black transparent;
  /* margin: auto; */
  width: 15%;
  
}
.Navbar-Container > div:nth-child(1) {
  border: 1px solid black transparent;
  /* height: fit-content; */
  margin: auto;
  width: 100%;
}

.Navbar-Container > div:nth-child(2) {
  border: 1px solid black transparent;
  height: 300;
  width: 100%;
}

/* SEARCH BER STYLE */

.Search{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* .Search-BTN {
  font-weight: bold;
  font-size: xx-large;
  height: 100px;
  width: 190px;
  background-color: blac;
} */


/* DESHBORD */


.Daily-Record-Track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 10px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: 120px;
}
.Daily-Record-Track > div {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
/* OVERVIEW SECTION */

.OVERVIEW-IMG {
  display: flex;
  justify-content: space-evenly;
  width: 76%;
  margin: auto;
  margin-top: 30px;
}

.OVERVIEW-IMG > div:nth-child(1) {
  width: 30%;
}

.OVERVIEW-IMG > div:nth-child(2) {
  width: 70%;
}
