.imageContain{
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.imageContain>div>p{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}

.categoryHeading{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.heritage{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}